.headersClass{
  font-size: 300%;
  align-content: center;
  background: white;
  border: 2px solid black;
    outline: #4CAF50 solid 10px;
    margin: auto;    
    padding: 20px;
    text-align: center;
}


    
    